{% extends 'base.html' %}
{% block content %}
    <h1>Available Surf Sessions</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Time</th>
                <th>Session Type</th>
                <th>Book</th>
            </tr>
        </thead>
        <tbody>
            {% for session in surf_sessions %}
                <tr>
                    <td>{{ session.time }}</td>
                    <td>{{ session.type }}</td>
                    <td><a href="{% url 'book_slot' session.type %}">Book Now</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
